<!DOCTYPE html>
<html>
  <head>
    <title>Fael Felipe Tattoo Studio - Flashes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/output.css" rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/buttonAction.js"></script>
  </head>
  <body class="flex flex-col h-screen bg-[#122630] text-[#C9926B] font-serif">
    <header class="flex flex-row flex-nowrap h-20 top-0">
      <div class="flex h-20 w-40 items-center">
        <a target="_blank" href="https://www.instagram.com/faelfelipetattoo/" class="pl-10 hover:text-[#F9B486] align-middle">
          <i class="ph-bold ph-instagram-logo text-6xl"></i>
        </a>
      </div>
      <div class="flex flex-row h-20 items-center w-6/12 justify-evenly text-3xl font-semibold">
        <a href="portifolio.html" class="hover:text-[#F9B486] hover:border-b-2 hover:border-[#F9B486]"><h1>Meu Portifólio</h1></a>
        <i class="ph-bold ph-dot"></i>
        <a href="flashes.html" class="border-b-2 border-white hover:text-[#F9B486] hover:border-b-2 hover:border-[#F9B486]"><h1>Flashs</h1></a>
        <i class="ph-bold ph-dot"></i>
        <a href="about.html" class="hover:text-[#F9B486] hover:border-b-2 hover:border-[#F9B486]"><h1>Sobre</h1></a>
      </div>
      <div class="absolute flex h-20 right-10 items-center">
        <button id="signInButtonViews" class="w-60 h-10 bg-[#C9926B] text-black rounded-full text-2xl uppercase font-medium" style="z-index: 1000">Cadastre-se</button>
      </div>
    </header>
    <div class="w-9/12 bg-[#C9926B] h-0.5"></div>

    <content class="h-screen w-screen flex flex-col">
      <div class="flex justify-end w-screen">
        <div class="w-60 mr-10">
          <h6 class="text-center">Cadastre-se e receba promoções em seu e-mail</h6>
        </div>
      </div>

      <div class="flex flex-col mt-5 ml-80 w-7/12">
        <h1 class="text-center text-6xl">Alguns Flashs Tattoos</h1>
        <div class="flex flex-row ml-4">
          <img src="../assets/flash1.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
          <img src="../assets/flash2.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
          <img src="../assets/flash3.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
          <img src="../assets/flash4.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
        </div>
        <div class="flex flex-row ml-4">
          <img src="../assets/flash5.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
          <img src="../assets/flash6.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
          <img src="../assets/flash7.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
          <img src="../assets/flash8.jpg" style="width: 250px; height: 250px" class="ml-5 mt-3 rounded-xl hover:rounded-3xl hover:border-2 hover: border-[#F9B486]" />
        </div>
      </div>
      <div class="absolute flex flex-row right-9 bottom-5 justify-end w-9/12 items-center h-72" style="z-index: -1">
        <h1 class="text-8xl underline underline-offset-8">Fael Felipe Tattoo Studio</h1>
        <img src="../assets/LOGO.svg" class="h-72" />
      </div>

      <div class="absolute left-4 bottom-6">
        <a class="text-3xl text-center" href="../index.html">
          <p>H</p>
          <p>O</p>
          <p>M</p>
          <p>E</p>
        </a>
      </div>
    </content>

    <!-- <div class="w-screen h-screen">
      <div class="flex flex-col mr-40 text-center font-bold text-9xl items-center">
        <h1 class="align-middle">Fael Felipe</h1>
        <h1 class="align-middle">Tattoo Studio</h1>
      </div> -->
    <!-- <div class="flex w-screen justify-end absolute">
        <img class="pr-20" src="assets/LOGO.svg" />
      </div> -->
  </body>
</html>
